[Unit]
Description=EMG Arduino API — Serial to Neon DB (Python)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ahmed
WorkingDirectory=/home/ahmed/Downloads/muscle-sensor-ui/pi-api
ExecStart=/usr/bin/python3 /home/ahmed/Downloads/muscle-sensor-ui/pi-api/server.py
Restart=always
RestartSec=10
StartLimitIntervalSec=300
StartLimitBurst=5
ExecStartPre=/bin/sleep 5
EnvironmentFile=/home/ahmed/Downloads/emg-api/.env
StandardOutput=journal
StandardError=journal
SyslogIdentifier=emg-api

[Install]
WantedBy=multi-user.target
